@tfe-grey: #666666;
@tfe-light-brown: #BBADA0;
@tfe-pale-brown: #CDC1B4;

@colors-2:      #EEE4DA;
@colors-4:      #EAE0C8;
@colors-8:      #F59563;
@colors-16:     #3399ff;
@colors-32:     #ffa333;
@colors-64:     #cef030;
@colors-128:    #E8D8CE;
@colors-256:    #990303;
@colors-512:    #6BA5DE;
@colors-1024:   #DCAD60;
@colors-2048:   #B60022;