
.home-header {
  margin: 10px;
}

.title-container {
  float: left;
}

.score-container {
  float: right;
  margin: 10px 0;
}

.description {
  float: none;
  clear: both;
  margin-bottom: 20px;

  .description-left {
    float: left;
    width: 60%;
  }

  .description-right {
    float: right;
  }
}

.clear-float {
  float: none;
  clear: both;
}