@import "colors";

.score {
  display: inline-block;
  width: 85px;
  height: 60px;
  background-color: @tfe-light-brown;
  border-radius: 4px;

  .score-title {
    margin: 5px 0 0 0;
    padding: 0;
    display: block;
    color: @tfe-pale-brown;
    text-align: center;
  }
  .score-points {
    margin: 0;
    padding: 0;
    display: block;
    color: white;
    text-align: center
  }
}